body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#intro {
    width: 100vw;
    position: relative;
    height: 60vh;
}
#intro img {
    transform: rotateY(180deg);
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#intro-text {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    left: 3rem;
    width: 40%;
    top: 3rem;
}
#searchrecipe {
    background: black;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#searchrecipe div {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#searchrecipe input {
    background: black;
    outline: none; 
    border: none; 
    border-bottom: 1px solid white; 
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
}

#recipe-results {
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    display: none;
    padding: 1rem 2rem;
    box-sizing: border-box;
}
#recipe-results--title {
    font-weight: bold;
    font-size: 2rem;
}
#recipes {
    width: 100%;
    display: block;
    padding-bottom: 2rem;
}
.reciperesult {
    box-shadow: 1px 2px 8px gray;
    width: 80%;
    border: 2px solid black;
    margin-bottom: 2rem;
    display: flex;
}